{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

	<main class="container pt-5 d-flex flex-column align-items-center">
		<h1>Connexion</h1>

		
		{{form_start(formView)}}

		{{ form_widget(formView)}}

		<button type="submit" class="btn btn-success d-block mx-auto mt-2" style="width: 100px;">Connexion</button>

		{{ form_end(formView) }}
	</main>

{% endblock %}
