{% extends 'base.html.twig' %}

{% block title %}Hello SecurityRegisterController!{% endblock %}

{% block body %}

    <main class="container d-flex flex-column align-items-center">
        <h1 class="mb-3">Inscription</h1>

        {{form_start(formView)}}

        {{ form_widget(formView)}}

        <button type="submit" class="btn btn-primary mt-3 mx-auto w-50 d-block">Inscription</button>

        {{ form_end(formView) }}
    </main>

{% endblock %}
